<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission (already present) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Add USB-related permissions -->
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CatController"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name="com.example.catcontroller.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".ComPortConfigActivity" />
        <!-- Popup Activity -->
        <activity android:name=".FilterBandActivity" />

        <!-- Spot Detail Activity -->
        <activity android:name=".spot.SpotDetailActivity" />
        <activity android:name=".logbook.ViewLogsActivity" />
    </application>
</manifest>
